<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스와 한쌍이므로 이름을 동일하게 해줘야함 -->
<mapper namespace="com.gd.webmvc.EmployeeMapper">
	<select id="selectEmployeeList" resultType="com.gd.webmvc.Employee">
		SELECT employee_id employeeId, password(employee_pass) employeePass
		FROM employee
	</select>
</mapper>